{% extends 'base.htm' %}
{% block title %}
    Bosh sahifa
{% endblock title %}
{% block content %}
    <!-- start nav -->
        {% include "widgets/navbar.htm" %}
    <!-- end nav -->
    <!-- start header -->
        {% include "basesections\header.htm" %}
    <!-- end header -->
    <!-- start main -->
        {% include "basesections\main.htm" %}
    <!-- end main -->
    <!-- start footer -->
        {% include "basesections\footer.htm" %}
    <!-- end footer -->
{% endblock content %}


      